@model VolunteerSystem.Models.Volunteer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Volunteer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomePhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CellPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicenseOnFile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicenseOnFile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SSCardOnFile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SSCardOnFile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Centers)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Center Name</th>
                    <th>Center Address</th>
                    <th>Center Phone</th>
                </tr>
                @foreach (var volunteer in Model.Centers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => volunteer.CenterName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => volunteer.CenterAddr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => volunteer.CenterPhone)
                        </td>
                    </tr>

                }
            </table>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvailableTimes)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                @foreach (var volunteer in Model.AvailableTimes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => volunteer.AvailableStartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => volunteer.AvailableEndTime)
                        </td>
                    </tr>


                }
            </table>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Background)

        </dt>
        <dd>
            <table class="table">

                @foreach (var volunteer in Model.Background)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => volunteer.Background)
                        </td>
                    </tr>

                }
            </table>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContacts)

        </dt>
        <dd>
            <table class="table">

                @foreach (var volunteer in Model.EmergencyContacts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => volunteer.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => volunteer.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => volunteer.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => volunteer.Address)
                        </td>
                    </tr>

                }
            </table>
        </dd>

       


</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VolunteerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
